*{
    font-family:  sans-serif;
}
#nav{
    height: 70px;
    background-color: darkmagenta;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav>div{
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: auto;
    margin-bottom: 30px;
}
#name{
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#details{
    width: 40%;
    color:  white;
    display: flex;
    justify-content: space-around;
    margin-top:30px;
}
#details >p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
